<mat-grid-list cols="{{ coulumnCount$ | async }}" rowHeight="500px">
  <mat-grid-tile *ngFor="let recipe of recipes$ | async">
    <mat-card class="recipe-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ recipe.name }}</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <img
        mat-card-image
        *ngIf="recipe.imageURL != null"
        src="{{ recipe.imageURL }}"
      />
      <mat-card-content>{{ recipe.timers }} </mat-card-content>
      <mat-card-actions>
        <button mat-button>Details</button>
        <button mat-button>Edit</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
